@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  /* Santa Mónica */
  --primary-sm: rgba(191, 57, 136, 1);
  --primary-sm-darker: rgba(175, 41, 120, 1);
  --primary-sm-lighter: rgba(207, 73, 152, 1);
  --secondary-sm: rgba(71, 164, 179, 1);
  --secondary-sm-darker: rgba(55, 148, 163, 1);
  --secondary-sm-lighter: rgba(87, 180, 195, 1);
  --light-sm: rgba(242, 233, 217, 1);
  --light-sm-lighter: rgba(2525, 253, 237, 1);
  --light-sm-darker: rgba(222, 213, 197, 1);
  --dark-sm: rgba(43, 43, 43, 1);
  --dark-sm-darker: rgba(13, 13, 13, 1);
  --dark-sm-lighter: rgba(73, 73, 73, 1);
  --grey-sm: rgba(128, 123, 115, 1)
  /* end Santa Mónica */
  /* Overwrite medusa colors*/
  --tag-neutral-border: var(--light-sm);
  --tag-neutral-icon: rgba(161, 161, 170, 1);
  --bg-switch-off-hover: rgba(212, 212, 216, 1);
  --border-menu-bot: var(--light-sm-lighter);
  --border-menu-top: var(--light-sm);
  --bg-subtle-hover: var(--light-sm-lighter);
  --contrast-fg-primary: var(--light-sm-lighter);
  --bg-switch-off: var(--light-sm);
  --contrast-bg-base-pressed: var(--primary-sm-darker);
  --bg-field-component-hover: rvar(--light-sm);
  --bg-base-pressed: var(--light-sm);
  --tag-neutral-text: rgba(82, 82, 91, 1);
  --tag-red-text: rgba(159, 18, 57, 1);
  --contrast-bg-base: rgba(24, 24, 27, 1);
  --border-strong: var(--light-sm-darker);
  --contrast-border-base: rgba(255, 255, 255, 0.15);
  --bg-field: var(--light-sm-lighter);
  --tag-blue-text: var(--secondary-sm);
  --button-inverted-pressed: var(--primary-sm-lighter);
  --border-interactive: var(--secondary-sm);;
  --bg-base-hover: var(--light-sm);
  --contrast-bg-subtle: var(--primary-sm);
  --bg-highlight: var(--light-sm-lighter);
  --contrast-fg-secondary: rgba(255, 255, 255, 0.56);
  --tag-red-bg: var(--light-sm);
  --button-transparent: rgba(255, 255, 255, 0);
  --button-danger-pressed: rgba(159, 18, 57, 1);
  --fg-on-color: var(--light-sm-lighter);
  --button-inverted-hover: var(--primary-sm-darker);
  --bg-field-component: var(--light-sm-lighter);
  --tag-orange-text: rgba(154, 52, 18, 1);
  --tag-green-icon: rgba(16, 185, 129, 1);
  --border-base: var(--light-sm);
  --bg-base: var(--light-sm-lighter);
  --tag-orange-border: rgba(254, 215, 170, 1);
  --tag-red-border: rgba(254, 205, 211, 1);
  --tag-green-border: rgba(167, 243, 208, 1);
  --tag-green-text: rgba(6, 95, 70, 1);
  --button-neutral: var(--secondary-sm);
  --tag-blue-border: rgba(191, 219, 254, 1);
  --fg-interactive-hover: rgba(37, 99, 235, 1);
  --tag-orange-icon: rgba(249, 115, 22, 1);
  --button-neutral-hover: var(--secondary-sm-darker);
  --fg-interactive: rgba(59, 130, 246, 1);
  --bg-component-pressed: var(--light-sm);
  --tag-purple-bg: rgba(237, 233, 254, 1);
  --contrast-bg-base-hover: var(--primary-sm);
  --bg-component: rgba(250, 250, 250, 1);
  --bg-subtle: rgba(250, 250, 250, 1);
  --tag-purple-text: rgba(91, 33, 182, 1);
  --contrast-border-bot: rgba(255, 255, 255, 0.1);
  --button-inverted: var(--primary-sm);
  --tag-red-icon: rgba(244, 63, 94, 1);
  --button-transparent-hover: rgba(244, 244, 245, 1);
  --button-neutral-pressed: var(--secondary-sm-lighter);
  --tag-purple-icon: rgba(167, 139, 250, 1);
  --bg-field-hover: rgba(244, 244, 245, 1);
  --fg-on-inverted: var(--light-sm-lighter);
  --bg-interactive: var(--secondary-sm);
  --border-danger: rgba(190, 18, 60, 1);
  --button-transparent-pressed: var(--light-sm);
  --tag-purple-border: rgba(221, 214, 254, 1);
  --bg-highlight-hover: rgba(219, 234, 254, 1);
  --border-error: rgba(225, 29, 72, 1);
  --button-danger: rgba(225, 29, 72, 1);
  --tag-blue-bg: rgba(219, 234, 254, 1);
  --border-transparent: rgba(255, 255, 255, 0);
  --button-danger-hover: rgba(190, 18, 60, 1);
  --bg-subtle-pressed: var(--light-sm);
  --fg-error: rgba(225, 29, 72, 1);
  --bg-component-hover: rgba(244, 244, 245, 1);
  --bg-disabled: rgba(244, 244, 245, 1);
  --tag-blue-icon: rgba(96, 165, 250, 1);
  --fg-subtle: rgba(82, 82, 91, 1);
  --tag-orange-bg-hover: rgba(254, 215, 170, 1);
  --tag-green-bg-hover: rgba(167, 243, 208, 1);
  --tag-red-bg-hover: rgba(254, 205, 211, 1);
  --tag-purple-bg-hover: rgba(221, 214, 254, 1);
  --tag-neutral-bg-hover: var(--light-sm);
  --tag-blue-bg-hover: rgba(191, 219, 254, 1);
  --tag-green-bg: rgba(209, 250, 229, 1);
  --tag-neutral-bg: rgba(244, 244, 245, 1);
  --tag-orange-bg: rgba(255, 237, 213, 1);
  --fg-base: rgba(24, 24, 27, 1);
  --contrast-border-top: rgba(24, 24, 27, 1);
  --bg-overlay: rgba(24, 24, 27, 0.4);
  --fg-disabled: rgba(161, 161, 170, 1);
  --fg-muted: rgba(113, 113, 122, 1);
  --borders-interactive-with-active: 0px 0px 0px 1px rgba(59, 130, 246, 1), 0px 0px 0px 4px rgba(59, 130, 246, 0.2);
  --buttons-danger-focus: 0px 0.75px 0px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px 0px rgba(190, 18, 60, 0.4), 0px 0px 0px 1px rgba(190, 18, 60, 1), 0px 0px 0px 2px var(--light-sm-lighter), 0px 0px 0px 4px rgba(59, 130, 246, 0.6);
  --details-contrast-on-bg-interactive: 0px 1px 2px 0px rgba(30, 58, 138, 0.6);
  --borders-interactive-with-focus: 0px 1px 2px 0px rgba(30, 58, 138, 0.5), 0px 0px 0px 1px var(--secondary-sm), 0px 0px 0px 2px var(--light-sm-lighter), 0px 0px 0px 4px rgba(59, 130, 246, 0.6);
  --borders-error: 0px 0px 0px 1px rgba(225, 29, 72, 1), 0px 0px 0px 3px rgba(225, 29, 72, 0.15);
  --borders-focus: 0px 0px 0px 1px var(--light-sm-lighter), 0px 0px 0px 3px var(--secondary-sm);
  --borders-interactive-with-shadow: 0px 1px 2px 0px rgba(30, 58, 138, 0.5), 0px 0px 0px 1px var(--secondary-sm);
  --buttons-danger: 0px 0.75px 0px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px 0px rgba(190, 18, 60, 0.4), 0px 0px 0px 1px rgba(190, 18, 60, 1);
  --buttons-inverted-focus: 0px 0.75px 0px 0px var(--primary-sm) inset, 0px 1px 2px 0px var(--primary-sm-darker), 0px 0px 0px 1px var(--primary-sm-darker), 0px 0px 0px 2px var(--light-sm-lighter), 0px 0px 0px 4px rgba(59, 130, 246, 0.6);
  --elevation-card-hover: 0px 0px 0px 1px rgba(0, 0, 0, 0.08), 0px 1px 2px -1px rgba(0, 0, 0, 0.08), 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  --details-switch-handle: 0px 0px 2px 1px var(--light-sm-lighter) inset, 0px 1px 0px 0px var(--light-sm-lighter) inset, 0px 0px 0px 0.5px rgba(0, 0, 0, 0.02), 0px 5px 4px 0px rgba(0, 0, 0, 0.02), 0px 3px 3px 0px rgba(0, 0, 0, 0.04), 0px 1px 2px 0px rgba(0, 0, 0, 0.12), 0px 0px 1px 0px rgba(0, 0, 0, 0.08);
  --buttons-neutral: 0px 1px 2px 0px rgba(0, 0, 0, 0.12), 0px 0px 0px 1px rgba(0, 0, 0, 0.08);
  --borders-base: 0px 1px 2px 0px rgba(0, 0, 0, 0.12), 0px 0px 0px 1px rgba(0, 0, 0, 0.08);
  --elevation-card-rest: 0px 0px 0px 1px rgba(0, 0, 0, 0.08), 0px 1px 2px -1px rgba(0, 0, 0, 0.08), 0px 2px 4px 0px rgba(0, 0, 0, 0.04);
  --buttons-neutral-focus: 0px 1px 2px 0px rgba(0, 0, 0, 0.12), 0px 0px 0px 1px rgba(0, 0, 0, 0.08), 0px 0px 0px 2px var(--light-sm-lighter), 0px 0px 0px 4px rgba(59, 130, 246, 0.6);
  --details-switch-background-focus: 0px 0px 0px 1px var(--light-sm-lighter), 0px 0px 0px 3px var(--secondary-sm), 0px 1px 1px 0px rgba(0, 0, 0, 0.04) inset, 0px 2px 4px 0px rgba(0, 0, 0, 0.04) inset, 0px 0px 0px 0.75px rgba(0, 0, 0, 0.06) inset, 0px 0px 8px 0px rgba(0, 0, 0, 0.02) inset, 0px 2px 4px 0px rgba(0, 0, 0, 0.04);
  --details-switch-background: 0px 1px 1px 0px rgba(0, 0, 0, 0.04) inset, 0px 2px 4px 0px rgba(0, 0, 0, 0.04) inset, 0px 0px 0px 0.75px rgba(0, 0, 0, 0.06) inset, 0px 0px 8px 0px rgba(0, 0, 0, 0.02) inset, 0px 2px 4px 0px rgba(0, 0, 0, 0.04);
  --elevation-flyout: 0px 0px 0px 1px rgba(0, 0, 0, 0.08), 0px 4px 8px 0px rgba(0, 0, 0, 0.08), 0px 8px 16px 0px rgba(0, 0, 0, 0.08);
  --elevation-tooltip: 0px 0px 0px 1px rgba(0, 0, 0, 0.08), 0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 4px 8px 0px rgba(0, 0, 0, 0.08);
  --elevation-modal: 0px 0px 0px 1px var(--light-sm-lighter) inset, 0px 0px 0px 1.5px rgba(228, 228, 231, 0.6) inset, 0px 0px 0px 1px rgba(0, 0, 0, 0.08), 0px 8px 16px 0px rgba(0, 0, 0, 0.08), 0px 16px 32px 0px rgba(0, 0, 0, 0.08);
  --elevation-commandbar: 0px 0px 0px 1px var(--primary-sm) inset, 0px 0px 0px 1.5px rgba(255, 255, 255, 0.3) inset, 0px 8px 16px 0px rgba(0, 0, 0, 0.08), 0px 16px 32px 0px rgba(0, 0, 0, 0.08);
  --elevation-code-block: 0px 0px 0px 1px rgba(24, 24, 27, 1) inset, 0px 0px 0px 1.5px rgba(255, 255, 255, 0.2) inset;
  --buttons-inverted: 0px 0.75px 0px 0px var(--primary-sm-lighter) inset, 0px 1px 2px 0px var(--primary-sm), 0px 0px 0px 1px var(--primary-sm-darker);
}


@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  input:focus ~ label,
  input:not(:placeholder-shown) ~ label {
    @apply -translate-y-2 text-xsmall-regular;
  }

  input:focus ~ label {
    @apply left-0;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 1px solid #212121;
    -webkit-text-fill-color: #212121;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
  }

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
}

@layer components {
  .flip.card {
    perspective: 1000px;
  }

  .flip.card-inner {
    transition: transform .6s;
    transform-style: preserve-3d;
  }

  .flip.card-front,
  .flip.card-back {
    position: absolute;
    backface-visibility: hidden;
  }

  .flip.card-back {
    transform: rotateY(180deg);
  }

  .content-container {
    @apply max-w-[1440px] w-full mx-auto px-6;
  }

  .contrast-btn {
    @apply px-4 py-2 border border-black rounded-full hover:bg-black hover:text-white transition-colors duration-200 ease-in;
  }

  .text-xsmall-regular {
    @apply text-[10px] leading-4 font-normal;
  }

  .text-small-regular {
    @apply text-xs leading-5 font-normal;
  }

  .text-small-semi {
    @apply text-xs leading-5 font-semibold;
  }

  .text-base-regular {
    @apply text-sm leading-6 font-normal;
  }

  .text-base-semi {
    @apply text-sm leading-6 font-semibold;
  }

  .text-large-regular {
    @apply text-base leading-6 font-normal;
  }

  .text-large-semi {
    @apply text-base leading-6 font-semibold;
  }

  .text-xl-regular {
    @apply text-2xl leading-[36px] font-normal;
  }

  .text-xl-semi {
    @apply text-2xl leading-[36px] font-semibold;
  }

  .text-2xl-regular {
    @apply text-[30px] leading-[48px] font-normal;
  }

  .text-2xl-semi {
    @apply text-[30px] leading-[48px] font-semibold;
  }

  .text-3xl-regular {
    @apply text-[32px] leading-[44px] font-normal;
  }

  .text-3xl-semi {
    @apply text-[32px] leading-[44px] font-semibold;
  }

  .santa-monica {
    @apply uppercase text-ui-bg-base leading-[1.1] tracking-tight drop-shadow-[0px_10px_2px_rgba(0,0,0,0.4)] lg:drop-shadow-[0px_20px_2px_rgba(0,0,0,0.4)];
    font-size: min(20vw, 210px);
  }
  .monica {
    font-size: min(16.22vw, 170px);
  }
  .bg-footer {
    background: url("/burguer.svg");
    background-repeat: no-repeat;
    background-size: 400px 400px;
    background-position: 80% -15%;
  }
  .parallax-text {
    font-size: min(calc(30 / 500 * 100vw), 40px);
  }
  .btn-smonica {
    @apply text-center md:px-6 md:py-4 px-4 py-3 text-sm md:text-lg rounded-sm font-lemonMilk uppercase border-2 shadow-[0px_0.1em_0px_0px_var(--light-sm)];
    &:focus:active {
      @apply translate-y-[0.1em] shadow-[0px_0px_0px_0px_rgba(0,_0,_0,_0.1)];
    }
  }
  .btn-primary-sm {
    @apply bg-primary-sm text-light-sm;
    &:hover {
      @apply bg-primary-sm-darker;
    }
    &:focus-visible {
      @apply outline-2 outline-primary-sm-darker;
    }
  }
  .btn-secondary-sm {
    @apply bg-secondary-sm text-dark-sm;
    &:hover {
      @apply bg-secondary-sm-darker;
    }
    &:focus-visible {
      @apply outline-2 outline-secondary-sm-darker;
    }
  }
}

@layer base {
  .font-outline-2 {
    text-shadow: 1px 1px 1px var(--dark-sm),
    -1px 1px 1px var(--dark-sm),
    1px -1px 1px var(--dark-sm),
    -1px -1px 1px var(--dark-sm),
    0px 1px 1px var(--dark-sm),
    0px -1px 1px var(--dark-sm),
    -1px 0px 1px var(--dark-sm),
    1px 0px 1px var(--dark-sm),
    2px 2px 1px var(--dark-sm),
    -2px 2px 1px var(--dark-sm),
    2px -2px 1px var(--dark-sm),
    -2px -2px 1px var(--dark-sm),
    0px 2px 1px var(--dark-sm),
    0px -2px 1px var(--dark-sm),
    -2px 0px 1px var(--dark-sm),
    2px 0px 1px var(--dark-sm),
    1px 2px 1px var(--dark-sm),
    -1px 2px 1px var(--dark-sm),
    1px -2px 1px var(--dark-sm),
    -1px -2px 1px var(--dark-sm),
    2px 1px 1px var(--dark-sm),
    -2px 1px 1px var(--dark-sm),
    2px -1px 1px var(--dark-sm),
    -2px -1px 1px var(--dark-sm);
    
  }
  .font-outline-3 {
    -webkit-text-stroke: 3px black;
  }
}
